/* nav 꾸미기 */

/* 네비게이션 바 색상 및 그림자 조정 */
/* 네비게이션 바의 스타일링 */
/* nav 꾸미기 */

/* 네비게이션 바 색상 및 그림자 조정 */
/* 네비게이션 바의 스타일링 */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-size: 35px;
  font-weight: 700;
  margin-right: 50px;
}

.nav-link {
  color: #333;
  font-weight: bold;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-link:hover {
  color: #000;
}

.form-control {
  border: 1px solid #ccc;
}

.btn-outline-primary {
  color: #00b4d8;
  border-color: #00b4d8;
}

.btn-outline-primary:hover {
  background-color: #00b4d8;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

/* ----------------------------------------------section0 부분-------------------------------------- */
.recom_section0 {
  margin-top: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.section0_image {
  width: 50%;
  height: 100%;
  top: 50px;
}

.section0_text {
  position: relative;
  top: 5px;

  font-size: 1.8rem;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text_font {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.section0_image img {
  width: 100%; /* 이미지의 너비를 부모 요소에 맞게 100%로 설정 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 비율을 유지 */
  max-height: 100%; /* 이미지의 높이가 부모 요소를 벗어나지 않도록 최대 높이를 100%로 설정 */
  object-fit: contain; /* 이미지가 부모 요소에 맞게 확대/축소되도록 설정 */
}

.wine_char {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.wine_property {
  padding: 8px 16px;
  margin: 8px;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------section1 부분-------------------------------------- */

.recom_section1 {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.section1-font {
  text-align: center;
  font-size: 1.5rem;
}

.wineName {
  color: #00b4d8;
}

/* 와인샵 목록 스타일링 */
.wineShopListStyle {
  width: 800px;
  position: relative;

  top: 20px;
  list-style: none; /* 목록 마커 제거 */
  padding: 0; /* 내부 간격 제거 */
}

.wineShopListStyle li {
  margin-bottom: 10px; /* 아이템 간격 설정 */
  padding-bottom: 10px; /* 아이템 내 하단 간격 설정 */
  border-bottom: 1px solid #ccc; /* 구분선 추가 */
}

.wineShopListStyle :hover {
  background-color: #eff9ff;
}

.wineShopListStyle li:last-child {
  border-bottom: none; /* 마지막 아이템의 구분선 제거 */
}

.wineShopListStyle span {
  display: inline-block; /* span 요소를 블록 요소로 변경하여 너비 조절 가능하도록 함 */
  vertical-align: top; /* 텍스트 상단 정렬 */
  margin-right: 20px; /* 오른쪽 여백 추가 */
  font-size: 16px; /* 글꼴 크기 설정 */
}

.wineShopListStyle .wine-name {
  font-weight: bold; /* 와인샵 이름의 글꼴 두껍게 설정 */
  color: #333; /* 와인샵 이름의 색상 설정 */
}

.wineShopListStyle .wine-address {
  color: #666; /* 주소의 색상 설정 */
}

.wineShopListStyle .wine-phone {
  color: #2bb460; /* 번호의 색상 설정 */
}

/* ----------------------------------------------section2 부분-------------------------------------- */

/* 댓글 입력창 스타일 */
.recom_section2 {
  margin-top: 50px;
}

/* 댓글 입력창 및 댓글 개수 스타일링 */
.comment-count {
  display: flex; /* 입력창과 댓글 개수를 한 줄에 표시하기 위해 flex 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 20px; /* 하단 여백 추가 */
  max-width: 900px; /* 최대 너비 설정 */
  margin-left: auto; /* 가운데 정렬을 위해 왼쪽 여백을 자동으로 설정 */
  margin-right: auto; /* 가운데 정렬을 위해 오른쪽 여백을 자동으로 설정 */

  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
}

.comment-count-style {
  margin-left: 15px;
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 2rem;
  color: #00b4d8;
}

.comment-count div {
  margin-right: auto; /* 댓글 개수를 왼쪽 정렬 */
}

.section2_comment {
  display: flex; /* 입력창과 버튼을 한 줄에 표시하기 위해 flex 사용 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 20px; /* 하단 여백 추가 */
  max-width: 900px; /* 최대 너비 설정 */
  margin-left: auto; /* 가운데 정렬을 위해 왼쪽 여백을 자동으로 설정 */
  margin-right: auto; /* 가운데 정렬을 위해 오른쪽 여백을 자동으로 설정 */
}

.comment_css {
  flex: 1; /* 텍스트 입력창이 버튼 이전까지 차지하도록 함 */
  padding: 15px; /* 내부 여백 추가 */
  border: 2px solid #ccc; /* 테두리 추가 */
  border-radius: 30px; /* 둥근 테두리 생성 */
  font-size: 16px; /* 글꼴 크기 설정 */
}

#btnComment {
  margin-left: 15px; /* 왼쪽 여백 추가 */
  padding: 15px 30px; /* 내부 여백 설정 */
  background-color: #00b4d8; /* 배경색 설정 */
  color: white; /* 글자색 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 30px; /* 둥근 테두리 생성 */
  font-size: 16px; /* 글꼴 크기 설정 */
  cursor: pointer; /* 마우스 커서 설정 */
}

#btnComment:hover {
  background-color: #0080a3; /* 마우스를 올렸을 때 배경색 변경 */
}

.section2_board {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px; /* 최대 너비를 설정하여 댓글 목록의 너비를 조절합니다. */
  margin-left: auto; /* 가운데 정렬을 위해 왼쪽 여백을 auto로 설정합니다. */
  margin-right: auto; /* 가운데 정렬을 위해 오른쪽 여백을 auto로 설정합니다. */
}

.list-group-item {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.list-group-item .text-muted {
  color: #888888;
}
