@charset 'utf-8';

.section-name {
    font-family: 'Times New Roman', Times, serif; /* 폰트 변경 */
    font-size: 50px; /* 폰트 크기 변경 */
    font-weight: bold; /* 폰트 굵기 변경 */
    color: #000; /* 폰트 색상 변경 */
}

.section-content {
    font-family: 'Times New Roman', Times, serif; /* 폰트 변경 */
    font-size: 30px; /* 폰트 크기 변경 */
    font-weight: bold; /* 폰트 굵기 변경 */
    color: grey; /* 폰트 색상 변경 */
}

.wrap { 
    margin-top: 70px;
    display: flex; 
    overflow: hidden;
    
    
  }
  .wrap .rolling-list ul { 
      display: flex;
      list-style:none;
  }
  .wrap .rolling-list ul li {
    width: 500px; /* 이미지의 가로 크기와 동일하게 설정 */
    height: 400px; /* 이미지의 세로 크기와 동일하게 설정 */
    margin-right: 50px; /* 이미지 사이의 간격 조정 */
    flex-shrink: 0; /* 이미지가 축소되지 않도록 설정 */
}

  .wrap .rolling-list ul li:nth-child(even) {
      margin-top: 0px;
  }
  .wrap .rolling-list ul li .image-wrap { 
      padding-right: 32px; 
      width: 100%; 
      flex-shrink: 0; 
  }
  .wrap .rolling-list ul li .image-wrap > img { 
      width: 500px;
  }

  .wrap .rolling-list ul li .desc strong { 
      display: block; 
      font-size: 24px; 
      margin-bottom: 24px;
  }
  .wrap .rolling-list ul li .desc span { 
      font-size: 18px;
      line-height: 1.2;
  }

  .rolling-list.original {
	animation: rollingleft1 33s linear infinite;
}
.rolling-list.clone {
	animation: rollingleft2 33s linear infinite;
}

.image-wrap {
    position: relative;
    width: 500px; /* 이미지의 원하는 가로 크기 */
    height: 400px; /* 이미지의 원하는 세로 크기 */
    overflow: hidden; /* 이미지가 부모 요소를 벗어나지 않도록 설정 */
    
}

.image-wrap img {
    width: 100%; /* 이미지를 부모 요소에 맞추어 가로 크기 조정 */
    height: auto; /* 세로 크기는 자동으로 조정되도록 설정 */
    transition: transform 0.3s ease; /* 호버 시 이미지 확대 효과를 유지 */
    border-radius: 15px; /* 테두리를 둥글게 만듦 */
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5); /* 부드러운 그림자 효과 */
    
}

.image-wrap.hover img {
    animation-play-state: paused; /* 호버 시 애니메이션 멈춤 */
    transform: translateY(-100px); /* 이미지를 약간 위로 이동 */
}

@keyframes rollingleft1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes rollingleft2 {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.hidden-text {
    position: absolute;
    top: 300px;
    left: 200px;
    z-index: -1;

    
    font-size: 20px;
    font-weight:900;

}

.btn-location {
    position: absolute;
    left: 100px;
}
  