@charset 'utf-8';


h1{
    font-family: 'Times New Roman', Times, serif; /* 폰트 변경 */
    font-weight: bold;
    font-size : 4rem;
    margin-top:10%;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: black;
}

tbody{
    font-size: 15px;
    line-height: 3; 
}

.table th, .table td {
    border: none;
}

.th-border {
    border-bottom: 2px solid black; /* 첫 번째 th에 굵은 선 추가 */
}


.btn-group-lg .btn {
    font-size: 0.875rem; /* 기본 크기보다 작은 크기로 조절 */
    padding: 0.25rem 0.5rem; /* 패딩을 줄여서 버튼 크기를 조절 */
}
.longest-title {
    white-space: nowrap; /* 긴 제목을 한 줄에 표시하도록 설정 */
    overflow: hidden; /* 너비를 넘어가는 컨텐츠를 숨김 */
    text-overflow: ellipsis; /* 너비를 넘어가는 경우 ...으로 표시 */
}

th.img-col, td.img-col {
    text-align: center; /* 중앙 정렬 */
    padding-left: 40px; /* 원하는 크기만큼 오른쪽 이동 */
}


/* nav 꾸미기 */

/* 네비게이션 바 색상 및 그림자 조정 */
/* 네비게이션 바의 스타일링 */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar-brand {
    font-size: 35px;
    font-weight: 700;
    margin-right: 50px;
}

.nav-link {
    color: #333;
    font-weight: bold;

}

.nav-item {
    margin-right: 10px; 
}

.nav-item:last-child {
    margin-right: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: #000;
}

.form-control {
    border: 1px solid #ccc;
}

.btn-outline-primary {
    color: #00b4d8;
    border-color: #00b4d8;
}

.btn-outline-primary:hover {
    background-color: #00b4d8;
    color: white;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}


  
  
  
  